<form id="addBottomLineSpecForm" class="blend-optimizer-form">
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="addBottomLineSpec" class="control-label">{{i18n "label.spec"}}</label>
                <div class="input-group">
                    <select id="addBottomLineSpec" name="addBottomLineSpec" class="form-control chosen-select">
						{{#specs}}
                            <option id="{{id}}">{{i18n spec}}</option>
						{{/specs}}
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="addBottomLineSpecDeviationLow" class="control-label">{{i18n "label.deviationLow"}}</label>
                <div class="input-group">
                    <input id="addBottomLineSpecDeviationLow" name="addBottomLineSpecDeviationLow" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="addBottomLineSpecLow" class="control-label">{{i18n "label.low"}}</label>
                <div class="input-group">
                    <input id="addBottomLineSpecLow" name="addBottomLineSpecLow" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="addBottomLineSpecHigh" class="control-label">{{i18n "label.high"}}</label>
                <div class="input-group">
                    <input id="addBottomLineSpecHigh" name="addBottomLineSpecHigh" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="addBottomLineSpecDeviationHigh" class="control-label">{{i18n "label.deviationHigh"}}</label>
                <div class="input-group">
                    <input id="addBottomLineSpecDeviationHigh" name="addBottomLineSpecDeviationHigh" class="form-control">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <div class="form-group">
                <label for="addBottomLineSpecNotify" class="control-label">{{i18n "label.notify"}}</label>
                <div class="input-group">
                    <div class="checkbox checkbox-warning">
                        <input id="addBottomLineSpecNotify" name="addBottomLineSpecNotify" type="checkbox" class="styled">
                        <label></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="addBottomLineSpecNotificationRecipients" class="control-label">{{i18n "label.notificationRecipients"}}</label>
                <div class="input-group">
                    <select id="addBottomLineSpecNotificationRecipients" name="addBottomLineSpecNotificationRecipients" class="form-control chosen-select" multiple="">
						{{#notificationRecipients}}
							<option value="initials">{{fullName}}</option>
						{{/notificationRecipients}}
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label class="control-label">&nbsp;</label>
                <div class="input-group">
                    <button type="button" class="btn btn-warning">{{i18n "button.add"}}</button>
                </div>
            </div>
        </div>
    </div>
</form>
