<div class="available-lots">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">{{i18n "feature.availableLots.title"}}</h3>
        </div>
        <div class="panel-body">
            <p>
                <span class="fa {{i18n "icon.filterToggle"}}"></span> {{i18n "feature.filterToggle.description"}}
            </p>
            <div id="material-categories-filter" data-toggle="buttons-checkbox" class="btn-group btn-group-justified" role="group">
				{{#materialCategories}}
                    <div class="btn-group">
                        <button type="button" role="button" data-materialcategory="{{type}}" class="btn btn-xs btn-{{type}} btn-filter-material-category">
                            <span class="fa {{i18n "icon.check"}}"></span> {{type}}
                        </button>
                    </div>
				{{/materialCategories}}
            </div>
        </div>
        <div class="panel-body">
            <p>
                <span class="fa {{i18n "icon.dragDrop"}}"></span> {{i18n "feature.dragDrop.description"}}
            </p>
        </div>
        <ul id="availableLots" class="list-group sortable">
			{{#availableLots}}
                <li id="{{id}}" class="list-group-item {{type}} {{sku}}">
					{{> "collapsible-lot"}}
                </li>
			{{/availableLots}}
        </ul>
    </div>
</div>

