<form id="blend-spec-finalize-form" class="blend-optimizer-form">
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label class="control-label" for="blendSpecComments">{{i18n "label.comments"}}</label>
                <div class="input-group">
                    <input id="blendSpecComments" name="blendSpecComments" type="text" class="form-control width-col-sm-4">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label class="control-label" for="active2"></label>
                <div class="input-group">
                    <span class="js-switch-label checked">{{i18n "label.inactive"}}</span>
                    <input id="active2" name="active" type="checkbox" class="js-switch">
                    <span class="js-switch-label">{{i18n "label.active"}}</span>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label class="control-label"></label>
                <div class="input-group">
                    <button type="button" class="btn btn-primary">{{i18n "button.save"}}</button>
                    <button type="button" class="btn btn-default">{{i18n "button.cancel"}}</button>
                </div>
            </div>
        </div>
    </div>
</form>
