<ul class="nav navbar-nav">
    <li class="active">
        <a id="changeSelectedPlant" data-toggle="modal" data-target="#changeSelectedPlantModal" href="#"><span class="fa {{i18n "icon.change"}}"></span> {{selectedPlant}}
        </a>
    </li>
</ul>
<div class="modal inmodal" id="changeSelectedPlantModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated flipInY">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span class="fa {{i18n "icon.close"}}"></span>
                </button>
                <h4 class="modal-title">{{i18n "area.changeSelectedPlant.title"}}</h4>
                <small class="font-bold">{{i18n "area.changeSelectedPlant.description"}}</small>
            </div>
            <div class="modal-body">
                <form id="changeSelectedPlantForm" class="blend-optimizer-form">
                    <div class="form-group">
                        <label for="selectedPlant" class="control-label">{{i18n "label.selectedPlant"}}</label>
                        <div class="input-group">
                            <select id="selectedPlant" name="selectedPlant" class="form-control">
								{{#plants}}
                                    <option value="{{id}}" data-description="{{description}}">{{name}}-{{description}}</option>
								{{/plants}}
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">{{i18n "button.close"}}</button>
                <button type="button" class="btn btn-primary">{{i18n "button.change"}}</button>
            </div>
        </div>
    </div>
</div>
