<div class="lot lot-{{status}} {{#if priority}}lot-prioritized{{/if}} border-bottom">
    <div class="lot-indicator {{status}}">
        &nbsp;
    </div>
    <div class="lot-badge">
        <span class="label label-{{type}}">{{badge}}</span>
    </div>
    <div class="lot-header">
        <div>
            <span class="lot-title lot-sku">{{sku}}</span>
            <span class="lot-title lot-size">{{size}} {{i18n "label.pounds"}}{{#if reservation}} of {{reservation}} {{i18n "label.pounds"}}{{/if}}</span>
        </div>
        <div>
            <span class="lot-title lot-number">{{lotNumber}}</span> {{#if comments}}
            <span class="fa {{i18n "icon.comments"}}"></span>{{/if}}
        </div>
        <div>
            <span class="lot-title lot-density"><strong>{{i18n "label.densityAbbreviation"}}</strong> {{density}}</span>
            <span class="lot-title lot-melt"><strong>{{i18n "label.meltIndexAbbreviation"}}</strong> {{meltIndex}}</span>
            <span class="lot-title lot-izod"><strong>{{i18n "label.izodAbbreviation"}}</strong> {{izod}}</span>
            <span class="lot-title lot-ncls"><strong>{{i18n "label.nclsAbbreviation"}}</strong> {{ncls}}</span>
        </div>
    </div>
    <div class="lot-menu">
        <ul class="list-inline">
            <li>
                <a class="collapse-lot-link"><span class="fa {{i18n "icon.expand"}}"></span></a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="fa {{i18n "icon.dropdownMenu"}}"></span></a>
                <ul class="dropdown-menu dropdown-lot">
                    <li><a href="#">{{i18n "button.clearReservations"}}</a></li>
                    <li><a href="#">{{i18n "button.viewOracleTestSheets"}}</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="lot lot-body lot-{{status}} {{#if priority}}lot-prioritized{{/if}}" style="display: none;">
    <div class="lot-indicator">
        &nbsp;
    </div>
    <div class="lot-badge">
        &nbsp;
    </div>
    <div class="lot-header">
        <div>
            <span class="lot-title lot-supplier"><strong>{{i18n "label.supplier"}}</strong> {{vendorName}}</span>
        </div>
        <div>
            <span class="lot-title lot-price"><strong>{{i18n "label.price"}}</strong> {{formatNumber price style="currency" currency="USD"}}</span>
        </div>
        <div>
            <span class="lot-title lot-comments"><strong>{{i18n "label.comments"}}</strong> {{comments}}</span>
        </div>
        <div>
            <span class="lot-title lot-age"><strong>{{i18n "label.receivedDate"}}</strong> {{received}}</span>
        </div>
        <div>
            <span class="lot-title lot-mh"><strong>{{i18n "label.highLowMeltIndexAbbreviation"}}</strong> {{meltHigh}}</span>
            <span class="lot-title lot-h1"><strong>{{i18n "label.h1Abbreviation"}}</strong> {{halfLife}}</span>
            <span class="lot-title lot-v"><strong>{{i18n "label.viscosityAbbreviation"}}</strong> {{viscosity}}</span>
        </div>
        <div>
            <span class="lot-title lot-ir"><strong>{{i18n "label.infraredAbbreviation"}}</strong> {{infrared}}</span>
            <span class="lot-title lot-sf"><strong>{{i18n "label.sinkFloatAbbreviation"}}</strong> {{sinkFloat}}</span>
            <span class="lot-title lot-co"><strong>{{i18n "label.contaminationAbbreviation"}}</strong> {{contamination}}</span>
        </div>
    </div>
</div>
