<div class="deviation-reasons">
    <h3>{{i18n "feature.deviationReasons.title"}}</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{i18n "label.displayOrder"}}</th>
            <th>{{i18n "label.deviationReason"}}</th>
        </tr>
        </thead>
        <tbody id="deviationReasons" class="sortable">
		{{#deviationReasons}}
            <tr id="{{id}}">
                <td><span class="fa {{i18n "icon.sortUpDown"}}"></span>{{displayOrder}}</td>
                <td>{{deviationReason}}</td>
            </tr>
		{{/deviationReasons}}
        </tbody>
        <tfoot>
        <tr>
            <th colspan="2">
                &nbsp;
            </th>
        </tr>
        </tfoot>
    </table>
</div>

