<table class="table table-striped">
    <thead>
    <tr>
        <th>{{i18n "label.name"}}</th>
        <th>{{i18n "label.summary"}}</th>
        <th>{{i18n "label.data"}}</th>
        <th>{{i18n "label.blendSpecs"}}</th>
        <th>{{i18n "label.plants"}}</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
	{{#globalRulesData}}
        <tr id="{{id}}">
            <td>{{name}}</td>
            <td>{{{summary}}}</td>
            <td>{{{data}}}</td>
            <td>
				{{#blendSpecs}}
                    <a href="/blend-spec/{{id}}">{{blendSpecName}}</a>
					{{#unless @last}},{{/unless}}
				{{/blendSpecs}}
            </td>
            <td>
				{{#plants}}
                    <span>{{name}}</span>
					{{#unless @last}},{{/unless}}
				{{/plants}}
            </td>
            <td>
                <button id="editGlobalRule" type="button" class="btn btn-default">{{i18n "button.edit"}}</button>
            </td>
        </tr>
	{{/globalRulesData}}
    </tbody>
    <tfoot>
    <tr>
        <th colspan="6">
			{{> "addGlobalRuleModal"}}
        </th>
    </tr>
    </tfoot>
</table>
