<div class="lot lot-{{status}} included-lot border-bottom">
    <div class="lot-title">
        <div class="lot-label">
            <span class="label label-{{type}}">{{badge}}</span>
        </div>
        <div class="lot-tools">
            <ul class="list-inline">
                <li>
                    <a class="collapse-lot-link"><i class="fa {{i18n "icon.expand"}}"></i></a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa {{i18n "icon.dropdownMenu"}}"></i></a>
                    <ul class="dropdown-menu dropdown-lot">
                        <li><a href="#">{{i18n "button.excludeLot"}}</a></li>
                        <li><a href="#">{{i18n "button.clearReservations"}}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="lot-header">
            <div>
                <span class="lot-sku">{{sku}}</span> <span class="lot-size">{{size}} {{i18n "label.pounds"}}</span>
            </div>
            <div>
                <span class="lot-number">{{lotNumber}}</span> <i class="fa {{i18n "icon.comments"}}"></i>
            </div>
            <div>
                <span class="lot-density"><strong>{{i18n "label.densityAbbreviation"}}</strong> {{density}}</span>
                <span class="lot-melt"><strong>{{i18n "label.meltIndexAbbreviation"}}</strong> {{meltIndex}}</span>
                <span class="lot-izod"><strong>{{i18n "label.izodAbbreviation"}}</strong> {{izod}}</span>
                <span class="lot-ncls"><strong>{{i18n "label.nclsAbbreviation"}}</strong> {{ncls}}</span>
            </div>
        </div>
        <div class="lot-usage">
            <div class="header-container">
                <h4 class="lot-percent-used">{{percentUsed}}</h4>
            </div>
            <div class="header-container">
                <h4 class="lot-pounds-used">{{pounds}}</h4>
            </div>
        </div>
    </div>
    <div class="lot-content" style="display: none;">
        <div class="lot-details">
            <div>
                <span class="lot-supplier">{{supplier}}</span>
            </div>
            <div>
                <span class="lot-price">{{price}}</span>
            </div>
            <div>
                <span class="lot-comments">{{comments}}</span>
            </div>
            <div>
                <span class="lot-age">{{received}}</span>
            </div>
            <div>
                <span class="lot-mh"><strong>{{i18n "label.highLowMeltIndexAbbreviation"}}</strong> {{meltHigh}}</span>
                <span class="lot-h1"><strong>{{i18n "label.h1Abbreviation"}}</strong> {{halfLife}}</span>
                <span class="lot-v"><strong>{{i18n "label.viscosityAbbreviation"}}</strong> {{viscosity}}</span>
            </div>
            <div>
                <span class="lot-ir"><strong>{{i18n "label.infraredAbbreviation"}}</strong> {{infrared}}</span>
                <span class="lot-sf"><strong>{{i18n "label.sinkFloatAbbreviation"}}</strong> {{sinkFloat}}</span>
                <span class="lot-co"><strong>{{i18n "label.contaminationAbbreviation"}}</strong> {{contamination}}</span>
            </div>
        </div>
        <div class="lot-usage">
            <div class="lot-slider-snap-value-lower">
                <div class="form-group">
                    <label for="includeLot{{@index}}SnapValueLower" class="control-label">{{i18n "label.low"}}</label>
                    <div class="input-group">
                        <input id="includeLot{{@index}}SnapValueLower" name="includeLot{{@index}}SnapValueLower" type="text" class="form-control slider-snap-value-control" value="{{low}}">
                    </div>
                </div>
            </div>
            <div class="lot-slider-snap-value-upper">
                <div class="form-group">
                    <label for="includeLot{{@index}}SnapValueUpper" class="control-label">{{i18n "label.high"}}</label>
                    <div class="input-group">
                        <input id="includeLot{{@index}}SnapValueUpper" name="includeLot{{@index}}SnapValueUpper" type="text" class="form-control slider-snap-value-control" value="{{high}}">
                    </div>
                </div>
            </div>
            <div id="includedLot{{@index}}Usage" class="lot-slider" data-low="{{low}}" data-high="{{high}}"></div>
        </div>
    </div>
</div>
