<div class="material-category">
    <div class="material-category-content">
        <div class="material-category-label">
            <span class="label label-{{type}}">{{badge}}</span>
        </div>
        <div class="material-category-details">
            <div>
                <span class="material-category-name">{{type}}</span>
            </div>
        </div>
        <div class="material-category-usage">
            <div class="slider-value-lower">
                <label for="{{type}}SnapValueLower" class="control-label">{{i18n "label.low"}}</label>
                <input id="{{type}}SnapValueLower" name="{{type}}SnapValueLower" type="text" class="form-control slider-snap-value-control" value="{{low}}">
            </div>
            <div class="slider-value-upper">
                <label for="{{type}}SnapValueUpper" class="control-label">{{i18n "label.high"}}</label>
                <input id="{{type}}SnapValueUpper" name="{{type}}SnapValueUpper" type="text" class="form-control slider-snap-value-control" value="{{high}}">
            </div>
            <div id="{{type}}Slider" class="material-category-slider" data-low="{{low}}" data-high="{{high}}" {{#if @root.deviation}}data-deviationlow="{{deviationLow}}" data-deviationhigh="{{deviationHigh}}"{{/if}} data-snapvaluelower="{{type}}SnapValueLower" data-snapvalueupper="{{type}}SnapValueUpper"></div>
        </div>
    </div>
</div>
