<div class="material-category">
    <div class="material-category-content">
        <div class="material-category-label">
            <span class="label label-{{type}}">{{badge}}</span>
        </div>
        <div class="material-category-details">
            <div>
                <span class="material-category-name">{{type}}</span>
            </div>
        </div>
        <div class="material-category-usage">
            <div class="slider-value-lower">
                <label for="{{type}}SliderValueLower" class="control-label">{{i18n "label.low"}}</label>
                <input id="{{type}}SliderValueLower" name="{{type}}SliderValueLower" type="text" class="form-control slider-snap-value-control" value="{{low}}">
            </div>
            <div class="slider-value-upper">
                <label for="{{type}}SliderValueUpper" class="control-label">{{i18n "label.high"}}</label>
                <input id="{{type}}SliderValueUpper" name="{{type}}SliderValueUpper" type="text" class="form-control slider-snap-value-control" value="{{high}}">
            </div>
            <div id="{{type}}Slider" class="material-category-slider" data-deviationlow="{{deviationLow}}" data-low="{{low}}" data-high="{{high}}" data-deviationhigh="{{deviationHigh}}"></div>
        </div>
    </div>
</div>
