<a id="viewResinMixGuidelines" data-toggle="modal" data-target="#viewResinMixGuidelinesModal" class="btn btn-xs btn-default" href="#">{{i18n "button.viewResinMixGuidelines"}}</a>
<div class="modal inmodal" id="viewResinMixGuidelinesModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated flipInY">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span class="fa {{i18n "icon.close"}}"></span>
                </button>
                <h4 class="modal-title">{{i18n "area.viewResinMixGuidelines.title"}}</h4>
                <small class="font-bold">{{i18n "area.viewResinMixGuidelines.description"}}</small>
            </div>
            <div class="modal-body">
                <ol>
					{{#resinMixGuidelines}}
                        <li>{{blendSpecRule}}</li>
					{{/resinMixGuidelines}}
                </ol>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">{{i18n "button.close"}}</button>
            </div>
        </div>
    </div>
</div>
