{{> "pageHeader"}}

<div class="ibox">
    <div class="ibox-title">
		{{> "ibox-tools"}}
        <h5>{{i18n "feature.selectBlend.title"}}</h5>
    </div>
    <div class="ibox-content">
        <form id="selectBlendForm" class="blend-optimizer-form">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="department" class="control-label">{{i18n "label.department"}}</label>
                        <div class="input-group">
                            <select id="department" name="department" class="form-control chosen-select">
                                <option value="" selected="true" disabled="disabled">{{i18n "label.department"}}</option>
								{{#departments}}
                                    <option value="{{id}}" data-description="{{{description}}}" data-plannercodes="{{json plannerCodes}}">{{department}}</option>
								{{/departments}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="plannerCode" class="control-label">{{i18n "label.plannerCode"}}</label>
                        <div class="input-group">
                            <select id="plannerCode" name="plannerCode" class="form-control chosen-select">
                                <option value="" selected="true" disabled="disabled">{{i18n "label.plannerCode"}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label for="blendSpec" class="control-label">{{i18n "label.blendSpec"}}</label>
                    <div class="input-group">
                        <select id="blendSpec" name="blendSpec" class="form-control chosen-select">
                            <option value="" selected="true" disabled="disabled">{{i18n "label.blendSpec"}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <h4 id="departmentDescription"></h4>
                </div>
                <div class="col-sm-4">
                    <h4 id="plannerCodeDescription"></h4>
                    <div class="hidden">
                        <strong>{{i18n "label.productSKUs"}}</strong> <span id="productSKUs"></span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h4 id="blendSpecDescription"></h4>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="ibox">
    <div class="ibox-title">
		{{> "ibox-tools"}}
        <h5>{{i18n "feature.blendSize.title"}}</h5>
    </div>
    <div class="ibox-content">
        <form id="blendSizeForm" class="blend-optimizer-form">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="minimumBlendSize" class="control-label">{{i18n "label.minimumBlendSize"}}</label>
                        <div class="input-group">
                            <input id="minimumBlendSize" name="minimumBlendSize" type="text" class="form-control" value="{{defaultBlendSize}}">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="numberOfComponents" class="control-label">{{i18n "label.numberOfComponents"}}</label>
                        <div class="input-group">
                            <select id="numberOfComponents" name="numberOfComponents" class="form-control chosen-select">
								{{#numberOfComponents}}
                                    <option value="{{number}}">{{number}}</option>
								{{/numberOfComponents}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="lotPreferences" class="control-label">&nbsp;</label>
                        <div class="input-group">
                            <button id="lotPreferences" type="button" class="btn btn-primary">{{i18n "button.lotPreferences"}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{{#contentFor "pageScripts"}}
    <script src="js/createBlend.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var _plannerCodes = {{{json plannerCodes}}};
            var _blendSpecs = {{{json blendSpecs}}};

            function getPlannerCodeOption(id, plannerCode, description, blendSpecs, productSKUs) {
                var plannerCodeOption = '<option value="' + id + '" data-description="' + description + '" data-blendspecs=\'' + JSON.stringify(blendSpecs) + '\' data-productskus="' + productSKUs + '">' + plannerCode + '</option>';
                return plannerCodeOption;
            }

            function department_onChange(departmentId) {
                var $selectedDepartment = $('#department').find('option:selected');
                var departmentDescription = $selectedDepartment.attr('data-description');
                var departmentPlannerCodes = JSON.parse($selectedDepartment.attr('data-plannercodes'));
                var plannerCodes = _.filter(_plannerCodes, function (_plannerCode) {
                    return departmentPlannerCodes.indexOf(_plannerCode.id) !== -1;
                });

                $('#departmentDescription').text(departmentDescription);
                $('#plannerCodeDescription').text('');
                $('#productSKUs').text('').parent().addClass('hidden');

                var plannerCodeOptions = '<option value="" selected="true" disabled="disabled">{{i18n "label.plannerCode"}}</option>';
                _.forEach(plannerCodes, function (plannerCode) {
                    plannerCodeOptions += getPlannerCodeOption(plannerCode.id, plannerCode.plannerCode, plannerCode.description, plannerCode.blendSpecs, plannerCode.productSKUs);
                });
                $('#plannerCode').html(plannerCodeOptions).trigger("chosen:updated");
            }

            function getBlendSpecOption(id, blendSpec, description) {
                var blendSpecOption = '<option value="' + id + '" data-description="' + description + '">' + blendSpec + '</option>';
                return blendSpecOption;
            }

            function plannerCode_onChange(plannerCodeId) {
                var $selectedPlannerCode = $('#plannerCode').find('option:selected');
                var plannerCodeDescription = $selectedPlannerCode.attr('data-description');
                var productSKUs = $selectedPlannerCode.attr('data-productskus');
                var plannerCodeBlendSpecs = JSON.parse($selectedPlannerCode.attr('data-blendspecs'));
                var blendSpecs = _.filter(_blendSpecs, function (_blendSpec) {
                    return plannerCodeBlendSpecs.indexOf(_blendSpec.id) !== -1;
                });

                $('#plannerCodeDescription').text(plannerCodeDescription);
                $('#productSKUs').text(productSKUs).parent().removeClass('hidden');
                $('#blendSpecDescription').text('');

                var blendSpecOptions = '<option value="" selected="true" disabled="disabled">{{i18n "label.blendSpec"}}</option>';
                _.forEach(blendSpecs, function (blendSpec) {
                    blendSpecOptions += getBlendSpecOption(blendSpec.id, blendSpec.blendSpec, blendSpec.description);
                });
                $('#blendSpec').html(blendSpecOptions).trigger("chosen:updated");
            }

            function blendSpec_onChange(blendSpecId) {
                var $selectedBlendSpec = $('#blendSpec').find('option:selected');
                var blendSpecDescription = $selectedBlendSpec.attr('data-description');

                $('#blendSpecDescription').text(blendSpecDescription);
            }

            $('#department').on('change', function (evt, params) {
                department_onChange();
            });

            $('#plannerCode').on('change', function (evt, params) {
                plannerCode_onChange();
            });

            $('#blendSpec').on('change', function (evt, params) {
                blendSpec_onChange();
            });
        });
    </script>
{{/contentFor}}
