{{> "pageHeader"}}

<div class="ibox">
    <div class="ibox-title">
        <div class="ibox-tools">
            <ul class="list-inline">
                <li>
                    <a class="collapse-ibox-link"><span class="fa {{i18n "icon.collapse"}}"></span></a>
                </li>
            </ul>
        </div>
        <h5>{{i18n "feature.blendSpecDetails.title"}}</h5>
    </div>
    <div class="ibox-content">
		{{> "blend-spec-details"}}
    </div>
</div>
<div class="ibox border-bottom">
    <div class="ibox-title">
        <div class="ibox-tools">
            <ul class="list-inline">
                <li>
                    <a class="collapse-ibox-link"><span class="fa {{i18n "icon.expand"}}"></span></a>
                </li>
            </ul>
        </div>
        <h5>{{i18n "feature.blendSpecHistory.title"}}</h5>
    </div>
    <div class="ibox-content" style="display: none;">
		{{> "blend-spec-history"}}
    </div>
</div>

<div class="ibox">
    <div class="ibox-title">
        <div class="ibox-tools">
            <ul class="list-inline">
                <li>
                    <a class="collapse-ibox-link"><span class="fa {{i18n "icon.collapse"}}"></span></a>
                </li>
            </ul>
        </div>
        <h5>{{i18n "feature.bottomLineSpecs.title"}}</h5>
    </div>
    <div class="ibox-content">
		{{> "bottom-line-specs"}}
    </div>
</div>

<div class="ibox">
    <div class="ibox-title">
        <div class="ibox-tools">
            <ul class="list-inline">
                <li>
                    <a class="collapse-ibox-link"><span class="fa {{i18n "icon.collapse"}}"></span></a>
                </li>
            </ul>
        </div>
        <h5>{{i18n "feature.materialCategoryRules.title"}}</h5>
    </div>
    <div class="ibox-content">
		{{> "material-category-rules"}}
    </div>
</div>

<div class="ibox">
    <div class="ibox-title">
        <div class="ibox-tools">
            <ul class="list-inline">
                <li>
                    <a class="collapse-ibox-link"><span class="fa {{i18n "icon.collapse"}}"></span></a>
                </li>
            </ul>
        </div>
        <h5>{{i18n "feature.assignedPlants.title"}}</h5>
    </div>
    <div class="ibox-content">
		{{> "assigned-plants"}}
    </div>
</div>

<div class="ibox">
    <div class="ibox-title">
        <div class="ibox-tools">
            <ul class="list-inline">
                <li>
                    <a class="collapse-ibox-link"><span class="fa {{i18n "icon.collapse"}}"></span></a>
                </li>
            </ul>
        </div>
        <h5>{{i18n "feature.blendSpecDetails.title"}}</h5>
    </div>
    <div class="ibox-content">
		{{> "blend-spec-finalize"}}
    </div>
</div>

{{#contentFor "pageScripts"}}
    <script src="js/createBlendSpec.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            var _plannerSeries = {{{json plannerSeries}}};
            var _productLines = {{{json productLines}}};
            var _productSizes = {{{json productSizes}}};
            var _plannerCodes = {{{json plannerCodes}}};

            function getPlannerCodeOption(id, plannerCode, description, productSKUs) {
                var plannerCodeOption = '<option value="' + id + '" selected="selected">' + plannerCode + '</option>';
                return plannerCodeOption;
            }

            function getProductLineOption(id, productLine) {
                var productLineOption = '<option value="' + id + '">' + productLine + '</option>';
                return productLineOption;
            }

            function getProductSizeOption(id, productSize, description, plannerCodes) {
                var productSizeOption = '<option value="' + id + '">' + productSize + '</option>';
                return productSizeOption;
            }

            function plannerSeries_onChange(plannerSeriesId) {
                var $selectedPlannerSeries = $('#plannerSeries').find('option:selected');
                var _selectedPlannerSeries = _.find(_plannerSeries, {'id': $selectedPlannerSeries.val()});

                var productLines = _.filter(_productLines, function (_productLine) {
                    return _selectedPlannerSeries.productLines.indexOf(_productLine.id) !== -1;
                });
                var productLineOptions = '<option value="" selected="true">{{i18n "label.productLine"}}</option>';
                _.forEach(productLines, function (productLine) {
                    productLineOptions += getProductLineOption(productLine.id, productLine.productLine);
                });
                $('#productLine').html(productLineOptions);

                var plannerCodes = _.filter(_plannerCodes, function (_plannerCode) {
                    return _selectedPlannerSeries.plannerCodes.indexOf(_plannerCode.id) !== -1;
                });
                var plannerCodeOptions = '';
                _.forEach(plannerCodes, function (plannerCode) {
                    plannerCodeOptions += getPlannerCodeOption(plannerCode.id, plannerCode.plannerCode, plannerCode.description, plannerCode.productSKUs);
                });
                $('#plannerCodes').html(plannerCodeOptions).trigger("chosen:updated");
                plannerCodes_onChange();
            }

            function productLine_onChange(productLineId) {
                var $selectedProductLine = $('#productLine').find('option:selected');
                var _selectedProductLine = _.find(_productLines, {'id': $selectedProductLine.val()});

                var productSizes = _.filter(_productSizes, function (_productSize) {
                    return _selectedProductLine.productSizes.indexOf(_productSize.id) !== -1;
                });
                var productSizeOptions = '<option value="" selected="true">{{i18n "label.productSize"}}</option>';
                _.forEach(productSizes, function (productSize) {
                    productSizeOptions += getProductSizeOption(productSize.id, productSize.productSize);
                });
                $('#productSize').html(productSizeOptions);

                var plannerCodes = _.filter(_plannerCodes, function (_plannerCode) {
                    return _selectedProductLine.plannerCodes.indexOf(_plannerCode.id) !== -1;
                });
                var plannerCodeOptions = '';
                _.forEach(plannerCodes, function (plannerCode) {
                    plannerCodeOptions += getPlannerCodeOption(plannerCode.id, plannerCode.plannerCode, plannerCode.description, plannerCode.productSKUs);
                });
                $('#plannerCodes').html(plannerCodeOptions).trigger("chosen:updated");
                plannerCodes_onChange();
            }

            function productSize_onChange(productSizeId) {
                var $selectedProductSize = $('#productSize').find('option:selected');
                var _selectedProductSize = _.find(_productSizes, {'id': $selectedProductSize.val()});

                var plannerCodes = _.filter(_plannerCodes, function (_plannerCode) {
                    return _selectedProductSize.plannerCodes.indexOf(_plannerCode.id) !== -1;
                });
                var plannerCodeOptions = '';
                _.forEach(plannerCodes, function (plannerCode) {
                    plannerCodeOptions += getPlannerCodeOption(plannerCode.id, plannerCode.plannerCode, plannerCode.description, plannerCode.productSKUs);
                });
                $('#plannerCodes').html(plannerCodeOptions).trigger("chosen:updated");
                plannerCodes_onChange();
            }

            function plannerCodes_onChange() {
                var _selectedPlannerCodeIds = $('#plannerCodes').find('option:selected').map(function () {
                    return this.value;
                }).get();

                var selectedPlannerCodes = _.filter(_plannerCodes, function (_plannerCode) {
                    return _selectedPlannerCodeIds.indexOf(_plannerCode.id) !== -1;
                });

                var plannerCodeDescription = '';
                var productSKUs = '';
                _.forEach(selectedPlannerCodes, function (value, key) {
                    plannerCodeDescription = plannerCodeDescription + value.description + ', ';
                    productSKUs = productSKUs + value.productSKUs + ', ';
                });

                $('#plannerCodeDescription').text(plannerCodeDescription);
                $('#productSKUs').text(productSKUs);
            }

            $('#plannerSeries').on('change', function (evt, params) {
                plannerSeries_onChange();
            });

            $('#productLine').on('change', function (evt, params) {
                productLine_onChange();
            });

            $('#productSize').on('change', function (evt, params) {
                productSize_onChange();
            });

            $('#plannerCodes').on('change', function (evt, params) {
                plannerCodes_onChange();
            });

            $('#blendSpecName').on('input', function (evt, params) {
                var blendSpecNameFormatted = $('#blendSpecNamePrefix').text() + $('#blendSpecName').val();
                $('#blendSpecNameFormatted').text(blendSpecNameFormatted);
            });

        });
    </script>
{{/contentFor}}
