{{#contentFor "pageHeader"}}
    <div class="page-header">
        <div class="container-fluid">
            <h3>{{i18n "area.createBlendSpec.title"}}</h3>
            <ol class="breadcrumb">
				{{#breadcrumbs}}
                    <li><a href="{{href}}">{{title}}</a></li>
				{{/breadcrumbs}}
            </ol>
        </div>
    </div>
{{/contentFor}}

<div class="ibox">
    <div class="ibox-title">
        <div class="ibox-tools">
            <ul class="list-inline">
                <li>
                    <a class="collapse-ibox-link"><i class="fa {{i18n "icon.collapse"}}"></i></a>
                </li>
            </ul>
        </div>
        <h5>{{i18n "feature.blendSpecDetails.title"}}</h5>
    </div>
    <div class="ibox-content">
        <form id="blendSpecDetailsForm" class="blend-optimizer-form">
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label" for="blendSpecName">{{i18n "label.blendSpecName"}}</label>
                        <div class="input-group">
                            <span id="blendSpecNamePrefix" class="input-group-addon">{{blendSpecNamePrefix}}</span>
                            <input id="blendSpecName" name="blendSpecName" type="text" class="form-control" value="{{blendSpecName}}">
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label" for="blendSpecNameFormatted">&nbsp;</label>
                        <div class="input-group">
                            <h3>
                                <span class="fa {{i18n "icon.transformRight"}}"></span>
                                <span id="blendSpecNameFormatted">{{blendSpecNamePrefix}}{{blendSpecName}}</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="plannerSeries">{{i18n "label.plannerSeries"}}</label>
                        <div class="input-group">
                            <select id="plannerSeries" name="plannerSeries" class="form-control">
                                <option value="" selected="selected" disabled="disabled">{{i18n "label.plannerSeries"}}</option>
								{{#plannerSeries}}
                                    <option value="{{id}}" data-description="{{{description}}}" data-productcodes="{{json productCodes}}" data-plannercodes="{{json plannerCodes}}">{{plannerSeries}}</option>
								{{/plannerSeries}}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="productCode">{{i18n "label.productCode"}}</label>
                        <div class="input-group">
                            <select id="productCode" name="productCode" class="form-control">
                                <option value="" selected="selected" disabled="disabled">{{i18n "label.productCode"}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="productLine">{{i18n "label.productLine"}}</label>
                        <div class="input-group">
                            <select id="productLine" name="productLine" class="form-control">
                                <option value="" selected="selected" disabled="disabled">{{i18n "label.productLine"}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label" for="plannerCodes">{{i18n "label.plannerCodes"}}</label>
                        <div class="input-group">
                            <select id="plannerCodes" name="plannerCodes" class="form-control chosen-select" multiple="">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <h4 id="plannerCodeDescription"></h4>
                    </div>
                    <div class="form-group">
                        <h4>{{i18n "label.productSKUs"}}</h4>
                        <span id="productSKUs"></span>
                    </div>
                </div>
                <div class="col-sm-2">
                    &nbsp;
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button class="btn btn-primary">{{i18n "button.save"}}</button>
                    <button class="btn btn-default">{{i18n "button.reset"}}</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="ibox">
    <div class="ibox-title">
        <div class="ibox-tools">
            <ul class="list-inline">
                <li>
                    <a class="collapse-ibox-link"><i class="fa {{i18n "icon.collapse"}}"></i></a>
                </li>
            </ul>
        </div>
        <h5>{{i18n "feature.bottomLineSpecs.title"}}</h5>
    </div>
    <div class="ibox-content">
        <table id="bottomLineSpecs" class="table table-striped">
            <thead>
            <tr>
                <th>{{i18n "label.spec"}}</th>
                <th>{{i18n "label.deviationLow"}}</th>
                <th>{{i18n "label.low"}}</th>
                <th>{{i18n "label.high"}}</th>
                <th>{{i18n "label.deviationHigh"}}</th>
                <th>{{i18n "label.notify"}}</th>
                <th>{{i18n "label.notificationRecipients"}}</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
			{{#bottomLineSpecs}}
                <tr id="{{id}}">
                    <th>{{i18n spec}}</th>
                    <td>{{deviationLow}}</td>
                    <td>{{low}}</td>
                    <td>{{high}}</td>
                    <td>{{deviationHigh}}</td>
                    <td>
                        <div class="checkbox checkbox-warning">
                            <input id="notify{{@index}}" name="notify{{@index}}" type="checkbox" class="styled" {{#if notify}}checked{{/if}}>
                            <label for="notify{{@index}}"></label>
                        </div>
                    </td>
                    <td>
						{{#notificationRecipients}}
                            <a data-toggle="popover" data-placement="left" data-content="{{fullName}}">{{initials}}</a>
							{{#unless @last}},{{/unless}}
						{{/notificationRecipients}}
                    </td>
                    <td>
                        <button class="btn btn-xs btn-default">{{i18n "button.edit"}}</button>
						{{#if optional}}
                            <button class="btn btn-xs btn-danger">{{i18n "button.delete"}}</button>
						{{/if}}
                    </td>
                </tr>
			{{/bottomLineSpecs}}
            </tbody>
            <tfoot>
            <tr>
                <th colspan="8">
					{{> "addBottomLineSpecModal"}}
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

<div class="ibox margin-bottom-20">
    <div class="ibox-title">
        <div class="ibox-tools">
            <ul class="list-inline">
                <li>
                    <a class="collapse-ibox-link"><i class="fa {{i18n "icon.collapse"}}"></i></a>
                </li>
            </ul>
        </div>
        <h5>{{i18n "feature.materialCategoryRules.title"}}</h5>
    </div>
    <div class="ibox-content">
        <table id="materialCategoryRules" class="table table-striped">
            <thead>
            <tr>
                <th>{{i18n "label.materialCategory"}}</th>
                <th>{{i18n "label.deviationLow"}}</th>
                <th>{{i18n "label.low"}}</th>
                <th>{{i18n "label.high"}}</th>
                <th>{{i18n "label.deviationHigh"}}</th>
                <th>{{i18n "label.consumptionFactor"}}</th>
                <th>{{i18n "label.deviationConsumptionFactor"}}</th>
                <th>{{i18n "label.globalRules"}}</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
			{{#materialCategoryRules}}
                <tr id="{{id}}">
                    <th><span class="label label-{{type}}">{{badge}}</span> {{i18n materialCategory}}</th>
                    <td>{{deviationLow}}</td>
                    <td>{{low}}</td>
                    <td>{{high}}</td>
                    <td>{{deviationHigh}}</td>
                    <td>{{consumptionFactor}}</td>
                    <td>{{deviationConsumptionFactor}}</td>
                    <td>
						{{#globalRules}}
                            <a data-toggle="popover" data-placement="left" data-content="{{summary}}">{{title}}</a>
							{{#unless @last}},{{/unless}}
						{{/globalRules}}
                    </td>
                    <td>
                        <button class="btn btn-xs btn-default">{{i18n "button.edit"}}</button>
                        <button class="btn btn-xs btn-danger">{{i18n "button.delete"}}</button>
                    </td>
                </tr>
			{{/materialCategoryRules}}
            </tbody>
            <tfoot>
            <tr>
                <th colspan="9">
                    <button class="btn btn-xs btn-warning">{{i18n "button.add"}}</button>
                </th>
            </tr>
            </tfoot>
        </table>

    </div>
</div>

{{#contentFor "pageScripts"}}
    <script src="js/createBlendSpec.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            var _plannerSeries = {{{json plannerSeries}}};
            var _productCodes = {{{json productCodes}}};
            var _productLines = {{{json productLines}}};
            var _plannerCodes = {{{json plannerCodes}}};

            function getPlannerCodeOption(id, plannerCode, description, productSKUs) {
                var plannerCodeOption = '<option value="' + id + '" selected="selected">' + plannerCode + '</option>';
                return plannerCodeOption;
            }

            function getProductCodeOption(id, productCode) {
                var productCodeOption = '<option value="' + id + '">' + productCode + '</option>';
                return productCodeOption;
            }

            function getProductLineOption(id, productLine, description, plannerCodes) {
                var productLineOption = '<option value="' + id + '">' + productLine + '</option>';
                return productLineOption;
            }

            function plannerSeries_onChange(plannerSeriesId) {
                var $selectedPlannerSeries = $('#plannerSeries').find('option:selected');
                var _selectedPlannerSeries = _.find(_plannerSeries, {'id': $selectedPlannerSeries.val()});

                var productCodes = _.filter(_productCodes, function (_productCode) {
                    return _selectedPlannerSeries.productCodes.indexOf(_productCode.id) !== -1;
                });
                var productCodeOptions = '<option value="" selected="true">{{i18n "label.productCode"}}</option>';
                _.forEach(productCodes, function (productCode) {
                    productCodeOptions += getProductCodeOption(productCode.id, productCode.productCode);
                });
                $('#productCode').html(productCodeOptions);

                var plannerCodes = _.filter(_plannerCodes, function (_plannerCode) {
                    return _selectedPlannerSeries.plannerCodes.indexOf(_plannerCode.id) !== -1;
                });
                var plannerCodeOptions = '';
                _.forEach(plannerCodes, function (plannerCode) {
                    plannerCodeOptions += getPlannerCodeOption(plannerCode.id, plannerCode.plannerCode, plannerCode.description, plannerCode.productSKUs);
                });
                $('#plannerCodes').html(plannerCodeOptions).trigger("chosen:updated");
                plannerCodes_onChange();
            }

            function productCode_onChange(productCodeId) {
                var $selectedProductCode = $('#productCode').find('option:selected');
                var _selectedProductCode = _.find(_productCodes, {'id': $selectedProductCode.val()});

                var productLines = _.filter(_productLines, function (_productLine) {
                    return _selectedProductCode.productLines.indexOf(_productLine.id) !== -1;
                });
                var productLineOptions = '<option value="" selected="true">{{i18n "label.productLine"}}</option>';
                _.forEach(productLines, function (productLine) {
                    productLineOptions += getProductLineOption(productLine.id, productLine.productLine);
                });
                $('#productLine').html(productLineOptions);

                var plannerCodes = _.filter(_plannerCodes, function (_plannerCode) {
                    return _selectedProductCode.plannerCodes.indexOf(_plannerCode.id) !== -1;
                });
                var plannerCodeOptions = '';
                _.forEach(plannerCodes, function (plannerCode) {
                    plannerCodeOptions += getPlannerCodeOption(plannerCode.id, plannerCode.plannerCode, plannerCode.description, plannerCode.productSKUs);
                });
                $('#plannerCodes').html(plannerCodeOptions).trigger("chosen:updated");
                plannerCodes_onChange();
            }

            function productLine_onChange(productLineId) {
                var $selectedProductLine = $('#productLine').find('option:selected');
                var _selectedProductLine = _.find(_productLines, {'id': $selectedProductLine.val()});

                var plannerCodes = _.filter(_plannerCodes, function (_plannerCode) {
                    return _selectedProductLine.plannerCodes.indexOf(_plannerCode.id) !== -1;
                });
                var plannerCodeOptions = '';
                _.forEach(plannerCodes, function (plannerCode) {
                    plannerCodeOptions += getPlannerCodeOption(plannerCode.id, plannerCode.plannerCode, plannerCode.description, plannerCode.productSKUs);
                });
                $('#plannerCodes').html(plannerCodeOptions).trigger("chosen:updated");
                plannerCodes_onChange();
            }

            function plannerCodes_onChange() {
                var _selectedPlannerCodeIds = $('#plannerCodes').find('option:selected').map(function () {
                    return this.value;
                }).get();

                var selectedPlannerCodes = _.filter(_plannerCodes, function (_plannerCode) {
                    return _selectedPlannerCodeIds.indexOf(_plannerCode.id) !== -1;
                });

                var plannerCodeDescription = '';
                var productSKUs = '';
                _.forEach(selectedPlannerCodes, function (value, key) {
                    plannerCodeDescription = plannerCodeDescription + value.description + ', ';
                    productSKUs = productSKUs + value.productSKUs + ', ';
                });

                $('#plannerCodeDescription').text(plannerCodeDescription);
                $('#productSKUs').text(productSKUs);
            }

            $('#plannerSeries').on('change', function (evt, params) {
                plannerSeries_onChange();
            });

            $('#productCode').on('change', function (evt, params) {
                productCode_onChange();
            });

            $('#productLine').on('change', function (evt, params) {
                productLine_onChange();
            });

            $('#plannerCodes').on('change', function (evt, params) {
                plannerCodes_onChange();
            });

            $('#blendSpecName').on('input', function (evt, params) {
                var blendSpecNameFormatted = $('#blendSpecNamePrefix').text() + $('#blendSpecName').val();
                $('#blendSpecNameFormatted').text(blendSpecNameFormatted);
            });

        });
    </script>
{{/contentFor}}
