{{#contentFor "pageHeader"}}
    <div class="page-header">
        <div class="container-fluid">
            <h2>{{i18n "area.dashboard.title"}}</h2>
        </div>
    </div>
{{/contentFor}}

{{#broadcastMessages}}
    <div class="alert alert-{{type}}" role="alert">
		{{message}}
    </div>
{{/broadcastMessages}}

<div class="row margin-bottom-20">
    <div class="col-sm-4">
        <div class="ibox">
            <div class="ibox-title">
				{{> "ibox-tools"}}
                <h3>{{i18n "feature.alerts.title"}}</h3>
            </div>
            <div class="ibox-content ibox-heading">
                <h3><i class="fa {{i18n "icon.alerts"}}"></i> {{i18n "feature.newAlerts.title"}}</h3>
                <small><i class="fa {{i18n "icon.close"}}"></i> {{newAlertsMessage}}</small>
            </div>
            <div class="ibox-content">
                <div class="feed-activity-list">
					{{#newAlerts}}
                        <div class="feed-element">
                            <div>
                                <small class="pull-right text-primary">{{age}}</small>
                                <strong>{{i18n title}}</strong>
                                <div>{{message}}</div>
                                <p class="text-muted">{{timestamp}}</p>
                            </div>
                        </div>
					{{/newAlerts}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="row">
			{{#kpis}}
                <div class="col-md-4">
                    <div class="ibox">
                        <div class="ibox-title">
                            <div class="pull-right">
                                <span>{{i18n "label.rank"}}</span> <span class="label label-{{status}}">{{rank}}</span>
                            </div>
                            <h4>{{i18n title}}</h4>
                        </div>
                        <div class="ibox-content">
                            <h2>{{majorData}}</h2>
                            <div class="pull-right text-{{status}}">{{minorData}}
                                <i class="fa {{i18n minorDataIcon}}"></i>
                            </div>
                            <p class="small">{{i18n description}}</p>
                        </div>
                    </div>
                </div>
			{{/kpis}}
        </div>
    </div>
</div>

{{#contentFor "pageScripts"}}
    <script src="js/dashboard.js"></script>
{{/contentFor}}
