{{#contentFor "pageHeader"}}
    <div class="page-header">
        <div class="container-fluid">
            <h3>{{i18n "area.createBlend.title"}}</h3>
            <ol class="breadcrumb">
				{{#breadcrumbs}}
                    <li><a href="{{href}}">{{title}}</a></li>
				{{/breadcrumbs}}
            </ol>
        </div>
    </div>
{{/contentFor}}

<div class="ibox">
    <div class="ibox-title">
		{{> "ibox-tools"}}
        <h5>{{i18n "feature.draftBlend.title"}}</h5>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-4">
                <h3 class="">{{i18n "feature.bottomLineSpecs.title"}}</h3>
                <canvas id="draftBlendRadarChart"></canvas>
            </div>
            <div class="col-sm-4">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>{{i18n "label.spec"}}</th>
                        <th>{{i18n "label.low"}}</th>
                        <th>{{i18n "label.actual"}}</th>
                        <th>{{i18n "label.high"}}</th>
                    </tr>
                    </thead>
                    <tbody>
					{{#bottomLineSpecs}}
                        <tr>
                            <th>{{i18n spec}}</th>
                            <td>{{low}}</td>
                            <td>{{actual}}</td>
                            <td>{{high}}</td>
                        </tr>
					{{/bottomLineSpecs}}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="4">&nbsp;</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <div class="col-sm-4">
                <h3 class="">{{i18n "feature.finalizeBlend.title"}}</h3>
                <form id="finalizeBlendForm" class="blend-optimizer-form">
                    <div class="form-group">
                        <label for="modificationReason" class="control-label">{{i18n "label.modificationReason"}}</label>
                        <div class="input-group">
                            <select id="modificationReason" name="modificationReason" class="form-control chosen-select">
								{{#modificationReasons}}
                                    <option id="{{id}}">{{modificationReason}}</option>
								{{/modificationReasons}}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input id="other" name="other" type="text" class="form-control" value="other" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <button id="finalizeBlend" type="button" class="btn btn-primary">{{i18n "button.finalizeBlend"}}</button>
                        <button id="reoptimizeBlend" type="button" class="btn btn-warning">{{i18n "button.reoptimizeBlend"}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="ibox border-bottom">
    <div class="ibox-title">
        <div class="ibox-tools">
            <ul class="list-inline">
                <li>
                    <a class="collapse-ibox-link"><i class="fa {{i18n "icon.expand"}}"></i></a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa {{i18n "icon.dropdownMenu"}}"></i></a>
                    <ul class="dropdown-menu dropdown-ibox">
                        <li><a href="#">Deviate</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <h5>{{i18n "feature.materialTypeUsage.title"}}</h5>
    </div>
    <div class="ibox-content" style="display: none;">
        <div class="row">
            <div class="col-sm-8">
                <h3 class="lot-panel-title">{{i18n "feature.materialTypeThresholds.title"}}</h3>
                <h6 class="lot-panel-title">
                    <i class="fa {{i18n "icon.dragDrop"}}"></i> {{i18n "feature.slideRange.description"}}</h6>
                <ul id="materialTypes" class="lot-list-group">
					{{#materialTypes}}
                        <li id="{{id}}" class="lot-list-group-item sortable">
                            <div class="material-type">
                                <div class="material-type-content">
                                    <div class="material-type-label">
                                        <span class="label label-{{type}}">{{badge}}</span>
                                    </div>
                                    <div class="material-type-details">
                                        <div>
                                            <span class="material-type-name">{{type}}</span>
                                        </div>
                                    </div>
                                    <div class="material-type-usage">
                                        <div class="material-type-slider-snap-value-lower">
                                            <span><strong>{{i18n "label.low"}}</strong> <span class="slider-value-lower" id="materialType{{@index}}SnapValueLower">30</span></span>
                                        </div>
                                        <div class="material-type-slider-snap-value-upper">
                                            <span><strong>{{i18n "label.high"}}</strong> <span class="slider-value-upper" id="materialType{{@index}}SnapValueUpper">70</span></span>
                                        </div>
                                        <div id="materialType{{@index}}Usage" class="material-type-slider"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
					{{/materialTypes}}
                </ul>
            </div>
			<div class="col-sm-4">
                <div class="header-container">
                    <h3>{{i18n "feature.blendSpecRulesSummary.title"}}</h3>
                    <a id="blendSpecRules" class="" href="#">{{i18n "feature.blendSpecRules"}}</a>
                </div>
                <ol>
					{{#blendSpecRules}}
                        <li>{{ruleSummary}}</li>
					{{/blendSpecRules}}
                </ol>
			</div>
        </div>
    </div>
</div>

<div class="ibox">
    <div class="ibox-title">
        <div class="ibox-tools">
            <ul class="list-inline">
                <li>
                    <a class="collapse-ibox-link"><i class="fa {{i18n "icon.collapse"}}"></i></a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa {{i18n "icon.dropdownMenu"}}"></i></a>
                    <ul class="dropdown-menu dropdown-ibox">
                        <li><a href="#">Deviate</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <h5>{{i18n "feature.includedLots.title"}}</h5>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-8">
                <div class="lot-panel">
                    <div class="lot-panel-heading">
                        <h3 class="lot-panel-title">{{i18n "feature.includedLots.title"}}</h3>
                        <h6 class="lot-panel-title">
                            <i class="fa {{i18n "icon.dragDrop"}}"></i> {{i18n "feature.dragDrop.description"}}</h6>
                    </div>
					{{#includedLots}}
                        <ul id="includedLots{{@index}}" class="lot-list-group">
                            <li id="{{id}}" class="lot-list-group-item sortable">
								{{> "includedLot"}}
                            </li>
                        </ul>
					{{/includedLots}}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="lot-panel">
                    <div class="lot-panel-heading">
                        <h3 class="lot-panel-title">{{i18n "feature.availableLots.title"}}</h3>
                        <h6 class="lot-panel-title">
                            <i class="fa {{i18n "icon.dragDrop"}}"></i> {{i18n "feature.dragDrop.description"}}</h6>
                    </div>
                    <ul id="availableLots" class="lot-list-group sortable">
						{{#availableLots}}
                            <li id="{{id}}" class="lot-list-group-item">
								{{> "lot"}}
                            </li>
						{{/availableLots}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{{#contentFor "pageScripts"}}
    <script src="js/draftBlend.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            var radarData = {
                labels: ["Melt", "IZOD", "Density", "NCLS"],
                datasets: [
                    {
                        label: "actual",
                        fillColor: "rgba(22,150,224,0.4)",
                        strokeColor: "rgba(22,150,224,1)",
                        pointColor: "rgba(22,150,224,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(22,150,224,1)",
                        data: [60, 60, 60, 60]
                    },
                    {
                        label: "low",
                        fillColor: "rgba(255,255,255,1.0)",
                        strokeColor: "rgba(154,157,159,1)",
                        pointColor: "rgba(154,157,159,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(154,157,159,1)",
                        data: [20, 20, 20, 20]
                    },
                    {
                        label: "high",
                        fillColor: "rgba(255,255,255,0.0)",
                        strokeColor: "rgba(237,85,101,1)",
                        pointColor: "rgba(237,85,101,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(237,85,101,1)",
                        data: [90, 90, 90, 90]
                    }
                ]
            };
            var radarOptions = {
                scaleShowLine: true,
                angleShowLineOut: true,
                scaleShowLabels: false,
                scaleBeginAtZero: true,
                angleLineColor: "rgba(0,0,0,.1)",
                angleLineWidth: 2,
                pointLabelFontFamily: "'open-sans'",
                pointLabelFontStyle: "normal",
                pointLabelFontSize: 10,
                pointLabelFontColor: "#666",
                pointDot: true,
                pointDotRadius: 3,
                pointDotStrokeWidth: 1,
                pointHitDetectionRadius: 20,
                datasetStroke: true,
                datasetStrokeWidth: 2,
                datasetFill: true,
                responsive: true
            };
            var ctx = document.getElementById('draftBlendRadarChart').getContext("2d");
            var myNewChart = new Chart(ctx).Radar(radarData, radarOptions);

			{{#includedLots}}
                var includedLot{{@index}}Usage = document.getElementById('includedLot{{@index}}Usage');

                noUiSlider.create(includedLot{{@index}}Usage, {
                    start: [30, 70],
                    behaviour: 'drag',
                    connect: true,
                    range: {
                        'min': 0,
                        'max': 100
                    },
                    pips: {
                        mode: 'values',
                        values: [20, 80],
                        density: 4
                    },
                    format: wNumb({
                        decimals: 0,
                        postfix: ' %'
                    })
                });

			{{/includedLots}}

			{{#materialTypes}}
                var materialType{{@index}}Usage = document.getElementById('materialType{{@index}}Usage');

                noUiSlider.create(materialType{{@index}}Usage, {
                    start: [30, 70],
                    behaviour: 'drag',
                    connect: true,
                    range: {
                        'min': 0,
                        'max': 100
                    },
                    pips: {
                        mode: 'values',
                        values: [20, 80],
                        density: 4
                    },
                    format: wNumb({
                        decimals: 0,
                        postfix: ' %'
                    })
                });

			{{/materialTypes}}

        });
    </script>
{{/contentFor}}
