{{> "pageHeader"}}

<div class="ibox">
    <div class="ibox-title">
        <div class="ibox-tools">
            <ul class="list-inline">
                <li>
                    <a class="collapse-ibox-link"><i class="fa {{i18n "icon.expand"}}"></i></a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa {{i18n "icon.dropdownMenu"}}"></i></a>
                    <ul class="dropdown-menu dropdown-ibox">
                        <li><a href="#">Deviate</a></li>
                    </ul>
                </li>
            </ul>
        </div>
		{{#if draftBlend.infeasible}}
            <div class="pull-right">
                <button type="button" class="btn btn-xs btn-default">{{i18n "button.deviate"}}</button>
            </div>
		{{/if}}
        <h5>{{i18n "feature.draftBlend.title"}}
            <span id="draftBlendLabel" class="label label-{{draftBlend.label}}">{{i18n draftBlend.status}}</span></h5>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-4">
                <h3 class="">{{i18n "feature.bottomLineSpecs.title"}}</h3>
                <div class="margin-bottom-20">
                    <canvas id="radarChart" height="200"></canvas>
                </div>
				{{#if draftBlend.modifications}}
                    <ul class="list-inline">
                        <li><span>{{i18n "feature.draftBlendModifications.title"}}</span></li>
						{{#draftBlend.modifications}}
                            <li>
                                <input id="{{id}}" type="checkbox" {{#if checked}}checked{{/if}}>
                                <a href="{{href}}">{{i18n title}}</a>
                            </li>
						{{/draftBlend.modifications}}
                    </ul>
				{{/if}}
            </div>
            <div class="col-sm-4">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>{{i18n "label.spec"}}</th>
						{{#if deviation}}
                            <th>{{i18n "label.deviationLow"}}</th>
						{{/if}}
                        <th>{{i18n "label.low"}}</th>
                        <th>{{i18n "label.actual"}}</th>
                        <th>{{i18n "label.high"}}</th>
						{{#if deviation}}
                            <th>{{i18n "label.deviationHigh"}}</th>
						{{/if}}
                    </tr>
                    </thead>
                    <tbody>
					{{#draftBlend.bottomLineSpecs}}
                        <tr class="{{status}}">
                            <th>{{i18n spec}}</th>
							{{#if deviationLow}}
                                <td>{{deviationLow}}</td>
							{{/if}}
                            <td>{{low}}</td>
                            <td>{{actual}}</td>
                            <td>{{high}}</td>
							{{#if deviationHigh}}
                                <td>{{deviationHigh}}</td>
							{{/if}}
                        </tr>
					{{/draftBlend.bottomLineSpecs}}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td {{#if deviation}}colspan="6" {{else}}colspan="4"{{/if}}>
                            <strong>{{i18n "label.blendSize"}}</strong>
                            <span class="blend-weight">{{draftBlend.size}} {{i18n "label.pounds"}}</span>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <div class="col-sm-4">
                <h3 class="">{{i18n "feature.finalizeBlend.title"}}</h3>
                <form id="finalizeBlendForm" class="blend-optimizer-form">
                    <div class="form-group modification-reason hidden">
                        <label for="modificationReason" class="control-label">{{i18n "label.modificationReason"}}</label>
                        <div class="input-group">
                            <select id="modificationReason" name="modificationReason" class="form-control chosen-select">
								{{#modificationReasons}}
                                    <option id="{{id}}">{{modificationReason}}</option>
								{{/modificationReasons}}
                            </select>
                        </div>
                    </div>
                    <div class="form-group modification-reason hidden">
                        <div class="input-group">
                            <input id="other" name="other" type="text" class="form-control" value="other" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <button id="finalizeBlend" type="button" class="btn btn-primary {{#if infeasible}}hidden{{/if}}">{{i18n "button.finalizeBlend"}}</button>
                        <button id="reoptimizeBlend" type="button" class="btn btn-warning modification-reason hidden">{{i18n "button.reoptimizeBlend"}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="ibox border-bottom">
    <div class="ibox-title">
        <div class="ibox-tools">
            <ul class="list-inline">
                <li>
                    <a class="collapse-ibox-link"><i class="fa {{i18n "icon.expand"}}"></i></a>
                </li>
            </ul>
        </div>
        <h5>{{i18n "feature.materialCategoryUsage.title"}}</h5>
    </div>
    <div class="ibox-content" style="display: none;">
        <div class="row">
            <div class="col-sm-8">
                <div class="lot-panel-heading">
                    <h3 class="lot-panel-title">{{i18n "feature.materialCategoryThresholds.title"}}</h3>
                </div>
                <div class="lot-panel-heading">
                    <h6 class="lot-panel-title">
                        <i class="fa {{i18n "icon.dragDrop"}}"></i> {{i18n "feature.slideRange.description"}}
                    </h6>
                </div>
                <ul id="materialCategories" class="lot-list-group">
					{{#draftBlend.materialCategories}}
                        <li id="{{id}}" class="lot-list-group-item sortable">
                            <div class="material-category">
                                <div class="material-category-content">
                                    <div class="material-category-label">
                                        <span class="label label-{{type}}">{{badge}}</span>
                                    </div>
                                    <div class="material-category-details">
                                        <div>
                                            <span class="material-category-name">{{type}}</span>
                                        </div>
                                    </div>
                                    <div class="material-category-usage">
                                        <div class="material-category-slider-snap-value-lower">
                                            <span><strong>{{i18n "label.low"}}</strong> <span class="slider-value-lower" id="materialCategory{{@index}}SnapValueLower">{{low}}</span></span>
                                        </div>
                                        <div class="material-category-slider-snap-value-upper">
                                            <span><strong>{{i18n "label.high"}}</strong> <span class="slider-value-upper" id="materialCategory{{@index}}SnapValueUpper">{{high}}</span></span>
                                        </div>
                                        <div id="materialCategory{{@index}}Usage" class="material-category-slider"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
					{{/draftBlend.materialCategories}}
                </ul>
            </div>
            <div class="col-sm-4">
                <div class="header-container">
                    <h3>{{i18n "feature.blendSpecRulesSummary.title"}}</h3>
					{{> "viewBlendSpecRules"}}
                </div>
                <ol>
					{{#blendSpecRules}}
                        <li>{{blendSpecRule}}</li>
					{{/blendSpecRules}}
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="ibox">
    <div class="ibox-title">
        <div class="ibox-tools">
            <ul class="list-inline">
                <li>
                    <a class="collapse-ibox-link"><i class="fa {{i18n "icon.collapse"}}"></i></a>
                </li>
            </ul>
        </div>
        <h5>{{i18n "feature.includedLots.title"}}</h5>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-8">
                <div class="lot-panel">
                    <div class="lot-panel-heading">
                        <h3 class="lot-panel-title">{{i18n "feature.includedLots.title"}}</h3>
                    </div>
                    <div class="lot-panel-heading">
                        <h6 class="lot-panel-title">
                            <i class="fa {{i18n "icon.dragDrop"}}"></i> {{i18n "feature.dragDrop.description"}}
                        </h6>
                    </div>
					{{#includedLots}}
                        <ul id="includedLots{{@index}}" class="lot-list-group included-lot-list-group">
                            <li id="{{id}}" class="lot-list-group-item sortable original {{type}} {{sku}}">
								{{> "includedLot"}}
                            </li>
                        </ul>
					{{/includedLots}}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="lot-panel">
                    <div class="lot-panel-heading">
                        <h3 class="lot-panel-title">{{i18n "feature.availableLots.title"}}</h3>
                    </div>
                    <div class="lot-panel-heading">
                        <h6 class="lot-panel-title">
                            <i class="fa {{i18n "icon.pointClick"}}"></i> {{i18n "feature.filterMaterialTypes.title"}}
                        </h6>
                    </div>
                    <div class="lot-panel-body">
                        <div id="materialCategoriesFilter" data-toggle="buttons-checkbox" class="btn-group" role="group">
							{{#materialCategories}}
                                <button type="button" role="button" data-materialcategory="{{type}}" class="btn btn-data-toggle-material-category btn-{{type}}">
                                    <i class="fa {{i18n "icon.check"}}"></i> {{type}}
                                </button>
							{{/materialCategories}}
                        </div>
                    </div>
                    <div class="lot-panel-heading">
                        <h6 class="lot-panel-title">
                            <i class="fa {{i18n "icon.dragDrop"}}"></i> {{i18n "feature.dragDrop.description"}}
                        </h6>
                    </div>
                    <ul id="availableLots" class="lot-list-group sortable">
						{{#availableLots}}
                            <li id="{{id}}" class="lot-list-group-item {{type}} {{sku}}">
								{{> "lot"}}
                            </li>
						{{/availableLots}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{{#contentFor "pageScripts"}}
    <script src="js/draftBlend.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('.btn-data-toggle-material-category').click(function (e) {
                if (e) {
                    e.preventDefault();
                }

                var activeMaterialCategories = [];
                var $target = $(e.target);
                if ($target.is('.focus') && !$target.is('.active')) {
                    activeMaterialCategories.push($target.attr('data-materialcategory'));
                }

                $('#materialCategoriesFilter').children('button.active').each(function (index, element) {
                    var $element = $(element);
                    if ($element.is('.active') && !$element.is('.focus')) {
                        activeMaterialCategories.push($element.attr('data-materialcategory'));
                    }
                });

                if (activeMaterialCategories.length) {
                    var filter = "." + activeMaterialCategories.join(',.');
                    $('#availableLots').children('li').hide().filter(filter).show();
                } else {
                    $('#availableLots').children('li').show()
                }

            });

            var radarChartData = {
                labels: [{{#draftBlend.radarChart.labels}}"{{i18n this}}"{{#unless @last}},{{/unless}}{{/draftBlend.radarChart.labels}}],
                datasets: [
                    {
						{{#with radarChart.datasets.current}}
                            label: "{{i18n label}}",
                            fillColor: "{{fillColor}}",
                            strokeColor: "{{strokeColor}}",
                            pointColor: "{{pointColor}}",
                            pointStrokeColor: "{{pointStrokeColor}}",
                            pointHighlightFill: "{{pointHighlightFill}}",
                            pointHighlightStroke: "{{pointHighlightStroke}}",
						{{/with}}
                        data: [{{#draftBlend.radarChart.datasets.current}}{{this}}{{#unless @last}},{{/unless}}{{/draftBlend.radarChart.datasets.current}}]
                    },
					{{#if draftBlend.radarChart.datasets.previous}}
                        {
							{{#with radarChart.datasets.previous}}
                                label: "{{i18n label}}",
                                fillColor: "{{fillColor}}",
                                strokeColor: "{{strokeColor}}",
                                pointColor: "{{pointColor}}",
                                pointStrokeColor: "{{pointStrokeColor}}",
                                pointHighlightFill: "{{pointHighlightFill}}",
                                pointHighlightStroke: "{{pointHighlightStroke}}",
							{{/with}}
                            data: [{{#draftBlend.radarChart.datasets.previous}}{{this}}{{#unless @last}},{{/unless}}{{/draftBlend.radarChart.datasets.previous}}]
                        },
					{{/if}}
                    {
						{{#with radarChart.datasets.low}}
                            label: "{{i18n label}}",
                            fillColor: "{{fillColor}}",
                            strokeColor: "{{strokeColor}}",
                            pointColor: "{{pointColor}}",
                            pointStrokeColor: "{{pointStrokeColor}}",
                            pointHighlightFill: "{{pointHighlightFill}}",
                            pointHighlightStroke: "{{pointHighlightStroke}}",
						{{/with}}
                        data: [{{#draftBlend.radarChart.datasets.low}}{{this}}{{#unless @last}},{{/unless}}{{/draftBlend.radarChart.datasets.low}}]
                    },
                    {
						{{#with radarChart.datasets.high}}
                            label: "{{i18n label}}",
                            fillColor: "{{fillColor}}",
                            strokeColor: "{{strokeColor}}",
                            pointColor: "{{pointColor}}",
                            pointStrokeColor: "{{pointStrokeColor}}",
                            pointHighlightFill: "{{pointHighlightFill}}",
                            pointHighlightStroke: "{{pointHighlightStroke}}",
						{{/with}}
                        data: [{{#draftBlend.radarChart.datasets.high}}{{this}}{{#unless @last}},{{/unless}}{{/draftBlend.radarChart.datasets.high}}]
                    }
                ]
            };

			{{#with radarChart.options}}
                var radarChartOptions = {
                    angleLineColor: "{{angleLineColor}}",
                    angleLineWidth: {{angleLineWidth}},
                    pointLabelFontFamily: "{{{pointLabelFontFamily}}}",
                    pointLabelFontStyle: "{{pointLabelFontStyle}}",
                    pointLabelFontSize: {{pointLabelFontSize}},
                    pointLabelFontColor: "{{pointLabelFontColor}}",
                    pointDotRadius: {{pointDotRadius}},
                    pointDotStrokeWidth: {{pointDotStrokeWidth}},
                    datasetStrokeWidth: {{datasetStrokeWidth}},
                    datasetFill: {{datasetFill}}
                };
			{{/with}}

            var _radarChart = document.getElementById('radarChart').getContext("2d");
            new Chart(_radarChart).Radar(radarChartData, radarChartOptions);

			{{#draftBlend.materialCategories}}
                var materialCategory{{@index}}Usage = document.getElementById('materialCategory{{@index}}Usage');

                noUiSlider.create(materialCategory{{@index}}Usage, {
                    start: [30, 70],
                    behaviour: 'drag',
                    connect: true,
                    range: {
                        'min': 0,
                        'max': 100
                    },
                    pips: {
                        mode: 'values',
                        values: [{{low}}, {{high}}],
                        density: 4
                    },
                    format: wNumb({
                        decimals: 0,
                        postfix: ' %'
                    })
                });
			{{/draftBlend.materialCategories}}

			{{#draftBlend.includedLots}}
                var includedLots{{@index}} = document.getElementById('includedLots{{@index}}');
                Sortable.create(includedLots{{@index}}, {
                    handle: ".lot-header",
                    animation: 0,
                    group: 'availableLots',
                    sort: true,

                    onAdd: function (evt) {
                        var itemEl = evt.item;
                        var toList = evt.to;
                        var toListItems = $(toList).children('li.original').remove();
                        var fromList = evt.from;
                        $('.modification-reason').removeClass('hidden');
                    }
                });
			{{/draftBlend.includedLots}}

            var availableLots = document.getElementById('availableLots');
            Sortable.create(availableLots, {
                handle: ".lot-header",
                animation: 0,
                group: 'availableLots',
                sort: true
            });

			{{#draftBlend.includedLots}}
                $('#{{id}}').find('.lot-percent-used').html('{{percentUsed}}{{{i18n 'label.percent'}}} {{i18n 'label.percentUsed'}}');
                $('#{{id}}').find('.lot-pounds-used').html('{{pounds}} {{i18n 'label.pounds'}}');

                var includedLot{{@index}}Usage = document.getElementById('includedLot{{@index}}Usage');

                noUiSlider.create(includedLot{{@index}}Usage, {
                    start: [30, 70],
                    behaviour: 'drag',
                    connect: true,
                    range: {
                        'min': 0,
                        'max': 100
                    },
                    pips: {
                        mode: 'values',
                        values: [20, 80],
                        density: 4
                    },
                    format: wNumb({
                        decimals: 0,
                        postfix: ' %'
                    })
                });
			{{/draftBlend.includedLots}}

			{{#draftBlend.modifications}}
                $('#{{id}}').on('click', function (evt, params) {
                    console.log('checkbox clicked');
                });
			{{/draftBlend.modifications}}

            $('#reoptimizeBlend').click(function (e) {
                if (e) {
                    e.preventDefault();
                }
                window.location.href = 'draft-blend?v=2';
            });

        });
    </script>
{{/contentFor}}
