{{> "pageHeader"}}

<div class="ibox">
    <div class="ibox-title">
        <div class="ibox-tools">
            <ul class="list-inline">
                <li>
                    <a class="collapse-ibox-link"><span class="fa {{i18n "icon.expand"}}"></span></a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="fa {{i18n "icon.dropdownMenu"}}"></span></a>
                    <ul class="dropdown-menu dropdown-ibox">
                        <li><a href="#">Deviate</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <h5>{{i18n "feature.draftBlend.title"}}
            <span id="draftBlendLabel" class="label label-{{draftBlend.type}}">{{i18n draftBlend.status}}</span>
        </h5>
    </div>
    <div class="ibox-content">
		{{> "draft-blend-details"}}
    </div>
</div>

<div class="ibox border-bottom">
    <div class="ibox-title">
        <div class="ibox-tools">
            <ul class="list-inline">
                <li>
                    <a class="collapse-ibox-link"><span class="fa {{i18n "icon.expand"}}"></span></a>
                </li>
            </ul>
        </div>
        <h5>{{i18n "feature.materialCategoryUsage.title"}}</h5>
    </div>
    <div class="ibox-content" style="display: none;">
		{{> "material-category-usage"}}
    </div>
</div>

<div class="ibox">
    <div class="ibox-title">
        <div class="ibox-tools">
            <ul class="list-inline">
                <li>
                    <a class="collapse-ibox-link"><span class="fa {{i18n "icon.collapse"}}"></span></a>
                </li>
            </ul>
        </div>
        <h5>{{i18n "feature.includedLots.title"}}</h5>
    </div>
    <div class="ibox-content">
        <div class="lot-preferences">
			{{> "included-lots"}}
			{{> "available-lots"}}
        </div>
    </div>
</div>

{{#contentFor "pageScripts"}}
    <script src="js/draftBlend.js"></script>
    <script type="text/javascript">

        var _datasets = {{{json datasets}}};

        var _labels = [{{#labels}}"{{i18n this}}"{{#unless @last}},{{/unless}}{{/labels}}];

			{{#with radarChart}}
            var _options = {
                angleLineColor: "{{options.angleLineColor}}",
                angleLineWidth: {{options.angleLineWidth}},
                pointLabelFontFamily: "{{{options.pointLabelFontFamily}}}",
                pointLabelFontStyle: "{{options.pointLabelFontStyle}}",
                pointLabelFontSize: {{options.pointLabelFontSize}},
                pointLabelFontColor: "{{options.pointLabelFontColor}}",
                pointDotRadius: {{options.pointDotRadius}},
                pointDotStrokeWidth: {{options.pointDotStrokeWidth}},
                datasetStrokeWidth: {{options.datasetStrokeWidth}},
                datasetFill: {{options.datasetFill}}
            };

            var _datasetOptions = {
                default: {
                    label: "{{i18n options.default.label}}",
                    fillColor: "{{options.default.fillColor}}",
                    strokeColor: "{{options.default.strokeColor}}",
                    pointColor: "{{options.default.pointColor}}",
                    pointStrokeColor: "{{options.default.pointStrokeColor}}",
                    pointHighlightFill: "{{options.default.pointHighlightFill}}",
                    pointHighlightStroke: "{{options.default.pointHighlightStroke}}"
                },
                primary: {
                    label: "{{i18n options.primary.label}}",
                    fillColor: "{{options.primary.fillColor}}",
                    strokeColor: "{{options.primary.strokeColor}}",
                    pointColor: "{{options.primary.pointColor}}",
                    pointStrokeColor: "{{options.primary.pointStrokeColor}}",
                    pointHighlightFill: "{{options.primary.pointHighlightFill}}",
                    pointHighlightStroke: "{{options.primary.pointHighlightStroke}}"
                },
                success: {
                    label: "{{i18n options.success.label}}",
                    fillColor: "{{options.success.fillColor}}",
                    strokeColor: "{{options.success.strokeColor}}",
                    pointColor: "{{options.success.pointColor}}",
                    pointStrokeColor: "{{options.success.pointStrokeColor}}",
                    pointHighlightFill: "{{options.success.pointHighlightFill}}",
                    pointHighlightStroke: "{{options.success.pointHighlightStroke}}"
                },
                info: {
                    label: "{{i18n options.info.label}}",
                    fillColor: "{{options.info.fillColor}}",
                    strokeColor: "{{options.info.strokeColor}}",
                    pointColor: "{{options.info.pointColor}}",
                    pointStrokeColor: "{{options.info.pointStrokeColor}}",
                    pointHighlightFill: "{{options.info.pointHighlightFill}}",
                    pointHighlightStroke: "{{options.info.pointHighlightStroke}}"
                },
                warning: {
                    label: "{{i18n options.warning.label}}",
                    fillColor: "{{options.warning.fillColor}}",
                    strokeColor: "{{options.warning.strokeColor}}",
                    pointColor: "{{options.warning.pointColor}}",
                    pointStrokeColor: "{{options.warning.pointStrokeColor}}",
                    pointHighlightFill: "{{options.warning.pointHighlightFill}}",
                    pointHighlightStroke: "{{options.warning.pointHighlightStroke}}"
                },
                danger: {
                    label: "{{i18n options.danger.label}}",
                    fillColor: "{{options.danger.fillColor}}",
                    strokeColor: "{{options.danger.strokeColor}}",
                    pointColor: "{{options.danger.pointColor}}",
                    pointStrokeColor: "{{options.danger.pointStrokeColor}}",
                    pointHighlightFill: "{{options.danger.pointHighlightFill}}",
                    pointHighlightStroke: "{{options.danger.pointHighlightStroke}}"
                }
            };
			{{/with}}

        $(document).ready(function () {

        });
    </script>
{{/contentFor}}
