{{> "pageHeader"}}

<div class="ibox">
    <div class="ibox-title">
        <div class="ibox-tools">
            <ul class="list-inline">
                <li>
                    <a class="collapse-ibox-link"><i class="fa {{i18n "icon.expand"}}"></i></a>
                </li>
            </ul>
        </div>
        <h5>{{i18n "feature.finalizeBlend.title"}}
            <span id="draftBlendLabel" class="label label-{{draftBlend.label}}">{{i18n draftBlend.status}}</span>
		</h5>
    </div>
    <div class="ibox-content">
        <div class="row margin-bottom-20">
            <div class="col-sm-4">
                <h3 class="">{{i18n "feature.bottomLineSpecs.title"}}</h3>
                <div class="margin-bottom-20">
                    <canvas id="radarChart" height="200"></canvas>
                </div>
            </div>
            <div class="col-sm-4">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>{{i18n "label.spec"}}</th>
						{{#if deviation}}
                            <th>{{i18n "label.deviationLow"}}</th>
						{{/if}}
                        <th>{{i18n "label.low"}}</th>
                        <th>{{i18n "label.actual"}}</th>
                        <th>{{i18n "label.high"}}</th>
						{{#if deviation}}
                            <th>{{i18n "label.deviationHigh"}}</th>
						{{/if}}
                    </tr>
                    </thead>
                    <tbody>
					{{#draftBlend.bottomLineSpecs}}
                        <tr>
                            <th>{{i18n spec}}</th>
							{{#if deviationLow}}
                                <td>{{deviationLow}}</td>
							{{/if}}
                            <td>{{low}}</td>
                            <td>{{actual}}</td>
                            <td>{{high}}</td>
							{{#if deviationHigh}}
                                <td>{{deviationHigh}}</td>
							{{/if}}
                        </tr>
					{{/draftBlend.bottomLineSpecs}}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td {{#if deviation}}colspan="6" {{else}}colspan="4"{{/if}}></td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <div class="col-sm-4">
                <h3 class="">{{i18n "feature.saveBlend.title"}}</h3>
                <form id="saveBlendForm" class="blend-optimizer-form">
                    <div class="form-group">
                        <label for="comments" class="control-label">{{i18n "label.comments"}}</label>
                        <div class="input-group">
                            <input id="comments" name="comments" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="addReservation" class="control-label">{{i18n "label.addReservation"}}</label>
                        <div class="input-group">
                            <input id="addReservation" name="addReservation" type="checkbox" class="js-switch" checked>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="reservationSize" class="control-label">{{i18n "label.reservationSize"}}</label>
                        <div class="input-group">
                            <input id="reservationSize" name="reservationSize" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <button id="blendSummary" type="button" class="btn btn-primary">{{i18n "button.save"}}</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h3 class="">{{i18n "feature.materials.title"}}</h3>
            </div>
            <div class="col-sm-4">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>{{i18n "label.percent"}}</th>
                        <th>{{i18n "label.sku"}}</th>
                        <th>{{i18n "label.lotNumber"}}</th>
                        <th>{{i18n "label.pounds"}}</th>
                    </tr>
                    </thead>
                    <tbody>
					{{#draftBlend.includedLots}}
                        <tr>
                            <th>{{percentUsed}}</th>
                            <td><span class="label label-{{type}}">{{badge}}</span> {{sku}}</td>
                            <td>{{lotNumber}}</td>
                            <td>{{pounds}}</td>
                        </tr>
					{{/draftBlend.includedLots}}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="4">
                            <strong>{{i18n "label.blendSize"}}</strong>
                            <span class="blend-weight">{{draftBlend.size}} {{i18n "label.pounds"}}</span>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

{{#contentFor "pageScripts"}}
    <script src="js/finalizeBlend.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            var radarChartData = {
                labels: [{{#draftBlend.radarChart.labels}}"{{i18n this}}"{{#unless @last}},{{/unless}}{{/draftBlend.radarChart.labels}}],
                datasets: [
                    {
						{{#with radarChart.datasets.current}}
                            label: "{{i18n label}}",
                            fillColor: "{{fillColor}}",
                            strokeColor: "{{strokeColor}}",
                            pointColor: "{{pointColor}}",
                            pointStrokeColor: "{{pointStrokeColor}}",
                            pointHighlightFill: "{{pointHighlightFill}}",
                            pointHighlightStroke: "{{pointHighlightStroke}}",
						{{/with}}
                        data: [{{#draftBlend.radarChart.datasets.current}}{{this}}{{#unless @last}},{{/unless}}{{/draftBlend.radarChart.datasets.current}}]
                    },
                    {
						{{#with radarChart.datasets.low}}
                            label: "{{i18n label}}",
                            fillColor: "{{fillColor}}",
                            strokeColor: "{{strokeColor}}",
                            pointColor: "{{pointColor}}",
                            pointStrokeColor: "{{pointStrokeColor}}",
                            pointHighlightFill: "{{pointHighlightFill}}",
                            pointHighlightStroke: "{{pointHighlightStroke}}",
						{{/with}}
                        data: [{{#draftBlend.radarChart.datasets.low}}{{this}}{{#unless @last}},{{/unless}}{{/draftBlend.radarChart.datasets.low}}]
                    },
                    {
						{{#with radarChart.datasets.high}}
                            label: "{{i18n label}}",
                            fillColor: "{{fillColor}}",
                            strokeColor: "{{strokeColor}}",
                            pointColor: "{{pointColor}}",
                            pointStrokeColor: "{{pointStrokeColor}}",
                            pointHighlightFill: "{{pointHighlightFill}}",
                            pointHighlightStroke: "{{pointHighlightStroke}}",
						{{/with}}
                        data: [{{#draftBlend.radarChart.datasets.high}}{{this}}{{#unless @last}},{{/unless}}{{/draftBlend.radarChart.datasets.high}}]
                    }
                ]
            };

			{{#with radarChart.options}}
                var radarChartOptions = {
                    angleLineColor: "{{angleLineColor}}",
                    angleLineWidth: {{angleLineWidth}},
                    pointLabelFontFamily: "{{{pointLabelFontFamily}}}",
                    pointLabelFontStyle: "{{pointLabelFontStyle}}",
                    pointLabelFontSize: {{pointLabelFontSize}},
                    pointLabelFontColor: "{{pointLabelFontColor}}",
                    pointDotRadius: {{pointDotRadius}},
                    pointDotStrokeWidth: {{pointDotStrokeWidth}},
                    datasetStrokeWidth: {{datasetStrokeWidth}},
                    datasetFill: {{datasetFill}}
                };
			{{/with}}

            var _radarChart = document.getElementById('radarChart').getContext("2d");
            new Chart(_radarChart).Radar(radarChartData, radarChartOptions);

        });
    </script>
{{/contentFor}}
