{{> "pageHeader"}}

<div class="ibox">
    <div class="ibox-title">
		{{> "ibox-tools"}}
        <h5>{{i18n "feature.lotPreferences.title"}}</h5>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-4">
                <div class="lot-panel">
                    <div class="lot-panel-heading">
                        <h3 class="lot-panel-title">{{i18n "feature.availableLots.title"}}</h3>
                    </div>
                    <div class="lot-panel-heading">
                        <h6 class="lot-panel-title">
                            <i class="fa {{i18n "icon.pointClick"}}"></i> {{i18n "feature.filterMaterialTypes.title"}}
                        </h6>
                    </div>
                    <div class="lot-panel-body">
                        <div id="materialCategoriesFilter" data-toggle="buttons-checkbox" class="btn-group" role="group">
							{{#materialCategories}}
                                <button type="button" role="button" data-materialcategory="{{type}}" class="btn btn-data-toggle-material-category btn-{{type}}">
                                    <i class="fa {{i18n "icon.check"}}"></i> {{type}}
                                </button>
							{{/materialCategories}}
                        </div>
                    </div>
                    <div class="lot-panel-heading">
                        <h6 class="lot-panel-title">
                            <i class="fa {{i18n "icon.dragDrop"}}"></i> {{i18n "feature.dragDrop.description"}}
                        </h6>
                    </div>
                    <ul id="availableLots" class="lot-list-group sortable">
                        <li id="availableLotsPlaceholderListItem" class="lot-list-group-item sortable-placeholder hidden">
                            <div class="lot">{{i18n "feature.availableLotsEmpty.title"}}</div>
                        </li>
						{{#availableLots}}
                            <li id="{{id}}" class="lot-list-group-item {{type}} {{sku}}">
								{{> "lot"}}
                            </li>
						{{/availableLots}}
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row margin-bottom-20">
                    <div class="col-sm-12">
                        <div class="lot-panel">
                            <div class="lot-panel-heading">
                                <h3 class="lot-panel-title">{{i18n "feature.excludedLots.title"}}</h3>
                            </div>
                            <div class="lot-panel-heading">
                                <h6 class="lot-panel-title">
                                    <i class="fa {{i18n "icon.quickSelect"}}"></i> {{i18n "feature.excludeSKUs.title"}}
                                </h6>
                            </div>
                            <div class="lot-panel-body">
                                <form id="exludeSKUsForm" class="blend-optimizer-form">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <select id="skus" name="skus" data-placeholder="{{i18n "label.excludedSKUs"}}" class="form-control chosen-select" multiple="">
												{{#materialTypes}}
                                                    <option value="{{sku}}">{{sku}}</option>
												{{/materialTypes}}
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="lot-panel-heading">
                                <h6 class="lot-panel-title">
                                    <i class="fa {{i18n "icon.dragDrop"}}"></i> {{i18n "feature.dragDrop.description"}}
                                </h6>
                            </div>
                            <ul id="excludedLots" class="lot-list-group sortable">
                                <li id="excludedLotsPlaceholderListItem" class="lot-list-group-item sortable-placeholder">
                                    <div class="lot">{{i18n "feature.excludedLotsEmpty.title"}}</div>
                                </li>
								{{#excludedLots}}
                                    <li id="{{id}}" class="lot-list-group-item {{type}} {{sku}}">
										{{> "lot"}}
                                    </li>
								{{/excludedLots}}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="lot-panel">
                            <div class="lot-panel-heading">
                                <h3 class="lot-panel-title">{{i18n "feature.ineligibleLots.title"}}</h3>
                            </div>
                            <div class="lot-panel-heading">
                                <h6 class="lot-panel-title">
                                    <i class="fa {{i18n "icon.stop"}}"></i> {{i18n "feature.lotMaintenance.description"}}
                                </h6>
                            </div>
                            <ul id="ineligibleLots" class="lot-list-group">
                                <li id="ineligibleLotsPlaceholderListItem" class="lot-list-group-item sortable-ghost hidden">
                                    <div class="lot">
                                        <div class="lot-title">
                                            <div class="lot-header">{{i18n "feature.ineligibleLotsEmpty.title"}}</div>
                                        </div>
                                    </div>
                                </li>
								{{#ineligibleLots}}
                                    <li id="{{id}}" class="lot-list-group-item {{type}} {{sku}}">
										{{> "lot"}}
                                    </li>
								{{/ineligibleLots}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row margin-bottom-20">
                    <div class="col-sm-12">
                        <button id="draftBlend" class="btn btn-primary">{{i18n "button.draftBlend"}}</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h3>{{i18n "feature.blendSpecRulesSummary.title"}}</h3>
                        <div class="pull-right">
                            <ul class="list-unstyled">
                                <li>{{> "viewBlendSpecRules"}}</li>
                                <li>{{> "viewResinMixGuidelines"}}</li>
                            </ul>
                        </div>
                        <ol>
							{{#blendSpecRules}}
                                <li>{{blendSpecRule}}</li>
							{{/blendSpecRules}}
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{#contentFor "pageScripts"}}
    <script src="js/lotPreferences.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('.btn-data-toggle-material-category').click(function (e) {
                if (e) {
                    e.preventDefault();
                }

                var activeMaterialCategories = [];
                var $target = $(e.target);
                if ($target.is('.focus') && !$target.is('.active')) {
                    activeMaterialCategories.push($target.attr('data-materialcategory'));
                }

                $('#materialCategoriesFilter').children('button.active').each(function (index, element) {
                    var $element = $(element);
                    if ($element.is('.active') && !$element.is('.focus')) {
                        activeMaterialCategories.push($element.attr('data-materialcategory'));
                    }
                });

                if (activeMaterialCategories.length) {
                    var filter = "." + activeMaterialCategories.join(',.');
                    $('#availableLots').children('li').hide().filter(filter).show();
                } else {
                    $('#availableLots').children('li').show()
                }

            });

        });
    </script>
{{/contentFor}}
