{{#contentFor "pageHeader"}}
    <div class="page-header">
        <div class="container-fluid">
            <h3>{{i18n "area.optimizerMaintenance.title"}}</h3>
        </div>
    </div>
{{/contentFor}}

<div class="row margin-bottom-20">
    <div class="col-sm-3">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title panel-primary">{{i18n "feature.oracleCategoryItems.title"}}</h3>
            </div>
            <div class="panel-body">
                <button id="oracleCategoryItems" type="button" class="btn btn-warning">{{i18n "button.oracleCategoryItems"}}</button>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title panel-primary">{{i18n "feature.departmentAttributes.title"}}</h3>
            </div>
            <div class="panel-body">
                <button id="departmentAttributes" type="button" class="btn btn-warning">{{i18n "button.departmentAttributes"}}</button>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel">
            <div class="panel-heading panel-info">
                <h3 class="panel-title">{{i18n "feature.blendSpecList.title"}}</h3>
            </div>
            <div class="panel-body">
                <button id="blendSpecList" type="button" class="btn btn-warning">{{i18n "button.blendSpecList"}}</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title panel-primary">{{i18n "feature.globalRules.title"}}</h3>
            </div>
            <div class="panel-body">
                <button id="globalRules" type="button" class="btn btn-warning">{{i18n "button.globalRules"}}</button>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title panel-warning">{{i18n "feature.masterRules.title"}}</h3>
            </div>
            <div class="panel-body">
                <button id="masterRules" type="button" class="btn btn-warning">{{i18n "button.masterRules"}}</button>
            </div>
        </div>
    </div>
</div>

{{#contentFor "pageScripts"}}
    <script src="js/optimizerMaintenance.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#oracleCategoryItems').click(function (e) {
                if (e) {
                    e.preventDefault();
                }
                window.location.href = 'oracle-categories';
            });

            $('#departmentAttributes').click(function (e) {
                if (e) {
                    e.preventDefault();
                }
                window.location.href = 'department-attributes';
            });

            $('#globalRules').click(function (e) {
                if (e) {
                    e.preventDefault();
                }
                window.location.href = 'global-rules';
            });

            $('#masterRules').click(function (e) {
                if (e) {
                    e.preventDefault();
                }
                window.location.href = 'master-rules';
            });

            $('#blendSpecList').click(function (e) {
                if (e) {
                    e.preventDefault();
                }
                window.location.href = 'blend-spec-list';
            });

        });
    </script>
{{/contentFor}}
