{{#contentFor "pageHeader"}}
    <div class="page-header">
        <div class="container-fluid">
            <h3>{{i18n "area.createBlend.title"}}</h3>
            <ol class="breadcrumb">
				{{#breadcrumbs}}
                    <li><a href="{{href}}">{{title}}</a></li>
				{{/breadcrumbs}}
            </ol>
        </div>
    </div>
{{/contentFor}}

<div class="ibox">
    <div class="ibox-title">
		{{> "ibox-tools"}}
        <h5>{{i18n "feature.saveBlend.title"}}</h5>
    </div>
    <div class="ibox-content">
        <div class="row margin-bottom-20">
            <div class="col-sm-4">
                <h3 class="">{{i18n "feature.bottomLineSpecs.title"}}</h3>
                <div class="margin-bottom-20">
                    <canvas id="finalizeBlendRadarChart" height="180"></canvas>
                </div>
            </div>
            <div class="col-sm-4">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>{{i18n "label.spec"}}</th>
                        <th>{{i18n "label.low"}}</th>
                        <th>{{i18n "label.actual"}}</th>
                        <th>{{i18n "label.high"}}</th>
                    </tr>
                    </thead>
                    <tbody>
					{{#bottomLineSpecs}}
                        <tr>
                            <th>{{i18n spec}}</th>
                            <td>{{low}}</td>
                            <td>{{actual}}</td>
                            <td>{{high}}</td>
                        </tr>
					{{/bottomLineSpecs}}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="4">&nbsp;</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <div class="col-sm-4">
                <h3 class="">{{i18n "feature.saveBlend.title"}}</h3>
                <form id="saveBlendForm" class="blend-optimizer-form">
                    <div class="form-group">
                        <label for="comments" class="control-label">{{i18n "label.comments"}}</label>
                        <div class="input-group">
                            <input id="comments" name="comments" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="addReservation" class="control-label">{{i18n "label.addReservation"}}</label>
                        <div class="input-group">
                            <input id="addReservation" name="addReservation" type="checkbox" class="js-switch" checked>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="reservationSize" class="control-label">{{i18n "label.reservationSize"}}</label>
                        <div class="input-group">
                            <input id="reservationSize" name="reservationSize" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <button id="saveBlend" type="button" class="btn btn-primary">{{i18n "button.save"}}</button>
                        <button id="printBlend" type="button" class="btn btn-default">{{i18n "button.print"}}</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h3 class="">{{i18n "feature.materials.title"}}</h3>
                <canvas id="blendMaterialsDonutChart"></canvas>
            </div>
            <div class="col-sm-4">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>{{i18n "label.percent"}}</th>
                        <th>{{i18n "label.sku"}}</th>
                        <th>{{i18n "label.lotNumber"}}</th>
                        <th>{{i18n "label.pounds"}}</th>
                    </tr>
                    </thead>
                    <tbody>
					{{#finalBlend.materialTypes}}
                        <tr>
                            <th>{{percentUsed}}</th>
                            <td><span class="label label-{{type}}">{{type}}</span> {{sku}}</td>
                            <td>{{lotNumber}}</td>
                            <td>{{pounds}}</td>
                        </tr>
					{{/finalBlend.materialTypes}}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="4">
                            <strong>{{i18n "label.totalWeight"}}</strong>
                            <span class="blend-weight">{{finalBlend.totalWeight}} {{i18n "label.pounds"}}</span>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

{{#contentFor "pageScripts"}}
    <script src="js/finalizeBlend.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            var radarData = {
                labels: [{{#radarLabels}}"{{i18n this}}"{{#unless @last}},{{/unless}}{{/radarLabels}}],
                datasets: [
					{{#radarDatasets}}
                        {
                            label: "{{i18n label}}",
                            fillColor: "{{fillColor}}",
                            strokeColor: "{{strokeColor}}",
                            pointColor: "{{pointColor}}",
                            pointStrokeColor: "{{pointStrokeColor}}",
                            pointHighlightFill: "{{pointHighlightFill}}",
                            pointHighlightStroke: "{{pointHighlightStroke}}",
                            data: [{{#data}}{{this}}{{#unless @last}},{{/unless}}{{/data}}]
                        }{{#unless @last}},{{/unless}}
					{{/radarDatasets}}
                ]
            };

            var radarOptions = {
                angleLineColor: "rgba(0,0,0,.1)",
                angleLineWidth: 2,
                pointLabelFontFamily: "'open sans'",
                pointLabelFontStyle: "normal",
                pointLabelFontSize: 13,
                pointLabelFontColor: "#333",
                pointDotRadius: 3,
                pointDotStrokeWidth: 1,
                datasetStrokeWidth: 2,
                datasetFill: true

            };
            var finalizeBlendRadarChart = document.getElementById('finalizeBlendRadarChart').getContext("2d");
            new Chart(finalizeBlendRadarChart).Radar(radarData, radarOptions);

            var doughnutData = [
                {
                    value: 20,
                    color: "#a3e1d4",
                    highlight: "#1ab394",
                    label: "Virgin"
                },
                {
                    value: 20,
                    color: "#dedede",
                    highlight: "#1ab394",
                    label: "Regrind"
                },
                {
                    value: 20,
                    color: "#b5b8cf",
                    highlight: "#1ab394",
                    label: "Spec"
                },
                {
                    value: 25,
                    color: "#b5b8cf",
                    highlight: "#1ab394",
                    label: "Spec"
                },
                {
                    value: 4,
                    color: "#b5b8cf",
                    highlight: "#1ab394",
                    label: "Spec"
                },
                {
                    value: 1,
                    color: "#b5b8cf",
                    highlight: "#1ab394",
                    label: "Spec"
                }
            ];
            var doughnutOptions = {
                segmentShowStroke: true,
                segmentStrokeColor: "#fff",
                segmentStrokeWidth: 2,
                percentageInnerCutout: 45, // This is 0 for Pie charts
                animationSteps: 100,
                animationEasing: "easeOutBounce",
                animateRotate: true,
                animateScale: false,
                responsive: true
            };
            var blendMaterialsDonutChart = document.getElementById("blendMaterialsDonutChart").getContext("2d");
            new Chart(blendMaterialsDonutChart).Doughnut(doughnutData, doughnutOptions);

        });
    </script>
{{/contentFor}}
